/* .profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-div {
  text-align: center;
  margin-top: 18px;
} */

.about-header {
  text-align: center;
  margin-top: 70px;
  color: white;
  font-weight: bold;
  letter-spacing: .5rem;
  font-size: 70px;
  text-align: left;
}

.header-div {
  text-align: left;
  margin-top: 40px;
}


.title-div {
  text-align: center;
  margin-top: 25px;
}

.title {
  letter-spacing: .1rem;
  font-weight: light;
  font-size: 50px;
  color: white;
  text-align: right;
}

.location-div {
  margin-top: 30px;
  text-align: right;
}

.location-icon {
  margin-right: 5px;
  color: white;
}

#location-text {
  color: white;
}

.bootcamp-div {
  text-align: center;
}

#bootcamp-para {
  letter-spacing: .1rem;
  font-weight: 400;
  text-align: right;
  color: white;
}

.card {
  background-color: grey;
}
