.about-header {
  text-align: center;
  margin-top: 70px;
  color: rgb(71, 74, 73);
  font-weight: bold;
  letter-spacing: .5rem;
}

body {
  background-image:  linear-gradient(90deg, rgba(226, 207, 255, 1), rgba(251, 253, 191, 1));;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;

}

.image-div {
  text-align: center;
  margin-top: 18px;
}

.title-div {
  text-align: center;
  margin-top: 10px;
}

.title {
  letter-spacing: .1rem;
  font-weight: light;
  font-size: 50px;
}

.location-div {
  margin-top: 10px;
  text-align: center;
}

.location-icon {
  margin-right: 5px;
  color: rgb(71, 74, 73);
}

.bootcamp-div {
  text-align: center;
}

#bootcamp-para {
  letter-spacing: .1rem;
  font-weight: 400;
}

.card {
  background-color: pink;
}
