.links-div {
  text-align: center;
}

#linkedin {
  margin-right: 10px;
  margin-top: 20px;
}

#linkedin:hover {
  opacity: 0.8;
}

#github {
  margin-left: 5px;;
  margin-top: 20px;
  fill: lightblue;
}

#github:hover {
  opacity: 0.7;
}
