#project-header {
  font-weight:600;
  color: white;
  text-decoration: underline;
  margin-bottom: 61px;
}

#project-title {
  color: white;
}

.projects-div {
  text-align: center;
  margin-top: 25px;
  letter-spacing: .3rem;
}

.project-div {
  padding: 5px;
}

#description-text {
  letter-spacing: .1rem;
  margin-top: 10px;;
  color: white;
}

#project-link {
  text-decoration: none;
  color: grey;
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
}

#project-link:hover {
  border: 2px solid blue;
  opacity: 0.8;
}

#techstack-text {
  text-decoration: underline;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: .2rem;
  background-color: rgb(48, 43, 43);
}

#techstack-list {
  color: white;
}

#project-github {
  text-decoration: none;
  color: grey;
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  margin-left: 5px;
}

#project-github:hover {
  border: 2px solid blue;
  opacity: 0.8;
}

#button-description:hover {
  background-color: rgb(55, 55, 55);
}
